center{
    margin-top:90px;
    display:block;
    text-align: -webkit-center;
}
.title{
    font-size: 2rem;
    font-weight: lighter;
    font-family: 'Open sans',sans-serif;
    position: relative;
    right:30px;
    bottom:10px;
    top:20px;
}
.material-icons{
    font-family:.material-icons;
    font-style:normal;
    font-weight:normal;
    line-height:1;
    letter-spacing:normal;
    text-transform:none;
    display: inline-block;
    white-space:nowrap;
    word wrap:none;
    direction:1tr;
    position: relative;
    left:160px;
    bottom:20px;
}
.div{
    height:40px;
    width:25%;
    color:gray;
    border:0.5px solid tomato;
    border-radius: 10px;
    text-align:center;
    font-size: 1.2rem;
    font-family: 'Open sans',sans-serif;
    display: block;
    margin-left: 50px;
    box-shadow: 1px 1px 1px 1px lightsteelblue;
    margin-top: 40px;
}
.span{
    position: relative;
    top:10px;
    color:tomato;
}
a{
    cursor: pointer ;
    text-decoration: none;
}
a:-webkit-any-link{
    cursor: pointer;
}